In [2]:
import numpy as np

In [3]:
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 20])
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 20])

In [4]:
mean = np.mean(data)
std_dev = np.std(data, ddof=0)
z_scores = (data - mean) / std_dev
print("mean:",mean)
print("std_dev:",std_dev)
print("z_score:",z_scores)

mean: 6.5
std_dev: 5.123475382979799
z_score: [-1.07349008 -0.87831007 -0.68313005 -0.48795004 -0.29277002 -0.09759001
  0.09759001  0.29277002  0.48795004  2.6349302 ]

In [5]:
outliers = data[np.abs(z_scores) > 3]
print("outliers",outliers)
if len(outliers) == 0:
    result = "No outliers detected; all z-scores are below 3."
else:
    result = f"Outliers detected: {outliers}"

print(result)

outliers []
No outliers detected; all z-scores are below 3.

In [6]:
import pandas as pd
from scipy.stats import norm

In [7]:
df=pd.read_csv("student_scores.csv")
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [8]:
print("Scores=",df['Scores'].to_list())

Scores= [21, 47, 27, 75, 30, 20, 88, 60, 81, 25, 85, 62, 41, 42, 17, 95, 30, 24, 67, 69, 30, 54, 35, 76, 86]

In [9]:
Scores= [21, 47, 27, 75, 30, 20, 88, 60, 81, 25, 85, 62, 41, 42, 17, 95, 30, 24, 67, 69, 30, 54, 35, 76, 86]
mean_scores=df["Scores"].mean()
print("mean_scores",mean_scores)
scores_std=df['Scores'].std()
print("scores_std",scores_std)

mean_scores 51.48
scores_std 25.28688724747802

In [13]:
X=60
z_scores = (Scores_array - mean) / std_dev   
print("z_score:",z_scores)

z_score: [ 2.83011021  7.90479059  4.0011903  13.369831    4.58673034  2.6349302
 15.90717119 10.44213078 14.54091109  3.61083027 15.32163115 10.83249081
  6.7337105   6.92889052  2.04939015 17.27343129  4.58673034  3.41565026
 11.80839088 12.19875091  4.58673034  9.27105069  5.56263042 13.56501101
 15.51681116]

In [14]:
Scores_array = np.array(Scores)
print(Scores_array)
outliers = Scores_array[np.abs(z_scores) > 3]
print("outliers",outliers)
if len(outliers) == 0:
    result = "No outliers detected; all z-scores are below 3."
else:
    result = f"Outliers detected: {outliers}"

print(result)

[21 47 27 75 30 20 88 60 81 25 85 62 41 42 17 95 30 24 67 69 30 54 35 76
 86]
outliers [47 27 75 30 88 60 81 25 85 62 41 42 95 30 24 67 69 30 54 35 76 86]
Outliers detected: [47 27 75 30 88 60 81 25 85 62 41 42 95 30 24 67 69 30 54 35 76 86]