In [54]:
import pandas as pd
import numpy as np
from scipy.stats import norm

using given values

In [55]:
mean = 4     
std_dev = 1  
X = 4.25     
z_score = (X - mean) / std_dev  
percentage_above = norm.sf(z_score) * 100  
print(f"Approximately {percentage_above:.2f}% of scores fall above {X}.")

Approximately 40.13% of scores fall above 4.25.

using dataset

In [56]:
df=pd.read_csv("student_scores.csv")
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [57]:
df.columns

Index(['Hours', 'Scores'], dtype='object')

In [58]:
df['Scores']

0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [59]:
mean_scores=df["Scores"].mean()
print("mean_scores",mean_scores)

mean_scores 51.48

In [60]:
scores_std=df['Scores'].std()
print("scores_std",scores_std)

scores_std 25.28688724747802

In [61]:
from scipy.stats import norm

In [62]:
X=60
z_score = (X - mean_scores) / scores_std

In [63]:
percentage_above = norm.sf(z_score) * 100  
print(f"Approximately {percentage_above:.2f}% of scores fall above {X}.")

Approximately 36.81% of scores fall above 60.